.avatar {
  border: 5px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-size: 22px;
  font-weight: 700;
  color: rgb(22, 22, 22);
  text-shadow: 0 0 2px;
}

.tag {
  font-size: 16px;
  font-weight: 500;
  color: rgb(95, 95, 95);
}

.location {
  font-size: 16px;
  font-weight: 500;
  color: rgb(95, 95, 95);
}
